.create-brand-page {
  max-width: 1000px;
  margin: auto;
  padding: 30px;
  font-family: "Poppins", sans-serif;
}

/* CARD */

.create-brand-card {
  background: white;
  padding: 30px;
  border-radius: 10px;
  border: 1px solid #e5e7eb;
}

.create-brand-card h2 {
  text-align: center;
  margin-bottom: 25px;
  color: #1f2937;
}

/* FORM */

.create-brand-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.create-brand-form input,
.create-brand-form textarea {
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #d1d5db;
  background: #fafafa;
  font-size: 14px;
  transition: all 0.2s ease;
}

.create-brand-form textarea {
  min-height: 100px;
  grid-column: span 2;
  resize: none;
}
.back-btn {
  background: none;
  border: none;
  color: #2563eb;
  cursor: pointer;
  margin-bottom: 15px;
  font-size: 14px;
  font-weight: 500;
}

.back-btn:hover {
  text-decoration: underline;
}
/* INPUT FOCUS */

.create-brand-form input:focus,
.create-brand-form textarea:focus {
  outline: none;
  border-color: #2563eb;
  background: white;
}

/* FILE INPUT */

.create-brand-form input[type="file"] {
  grid-column: span 2;
  background: white;
  border: 1px dashed #d1d5db;
  padding: 12px;
  cursor: pointer;
}

/* BUTTON */

.create-brand-form button {
  grid-column: span 2;
  background: #2563eb;
  color: white;
  padding: 12px;
  border: none;
  border-radius: 6px;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.2s;
}

.create-brand-form button:hover {
  background: #1d4ed8;
}

.create-brand-form button:disabled {
  background: #9ca3af;
  cursor: not-allowed;
}

/* BACK BUTTON */

.back-btn {
  background: none;
  border: none;
  color: #2563eb;
  cursor: pointer;
  margin-bottom: 15px;
  font-size: 14px;
}

.back-btn:hover {
  text-decoration: underline;
}

/* RESPONSIVE */

@media (max-width: 768px) {
  .create-brand-form {
    grid-template-columns: 1fr;
  }

  .create-brand-form textarea,
  .create-brand-form input[type="file"],
  .create-brand-form button {
    grid-column: span 1;
  }
}